@import '~bootstrap/scss/bootstrap.scss';
@import '../src/scss/mixins.scss';
@import '../src/scss/variables.scss';

/** Reset default browsers styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}